* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
main.header {
  padding: 1rem;
}
img {
  width: 100%;
}
.section-title {
  text-align: center;
  margin: 2rem auto;
  font-family: "Rancho", cursive;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: lighter;
}
.section-title span {
  display: block;
  color: orange;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.btn {
  background-color: rgb(9, 159, 129);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 10px;
}
/* header style start  */
header nav ul li {
  display: none;
  cursor: pointer;
  font-size: 1rem;
}
#logo {
  display: inline;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: "Rancho", cursive;
}
#bur-menu {
  display: inline;
  float: right;
  font-size: 1.6rem;
}
/* header style end */
/* hero style start  */
.hero-info h1 {
  font-weight: lighter;
  font-size: 3.5rem;
  color: rgb(50, 50, 50);
  margin: 3rem 0;
}
.lover {
  color: rgb(9, 159, 129);
}
#hero-button {
  display: flex;
  justify-content: space-around;
}
#hero-button :first-child {
  background-color: orange;
  color: white;
  padding: 0.5rem 1.5rem;
  box-shadow: 5px 5px 15 orange;
  border-radius: 5px;
  border: none;
  margin: 5%;
  cursor: pointer;
}
#hero-button :last-child {
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  margin: 5%;
  cursor: pointer;
}
#hero-icon {
  padding: 1rem;
}
.hero-info img {
  margin: 3rem 0;
}
/* hero style end */
/* speciality style start  */
.specialty-category {
  color: orange;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}
.specialty-category::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5rem;
  border-bottom: 1px solid black;
}
.specialty-discription {
  font-size: 1.1rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}
.specialty-title {
  font-size: 2.6rem;
  display: block;
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.specialty-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5rem;
  border-bottom: 1px solid black;
}
.price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  font-weight: bold;
}
.specialty-img {
  box-shadow: 5px 5px 15 rgb (200, 200, 200, 0.8);
}
/* speciality style end */
/*  menu start  */
.menu-title {
  font-size: 2.5rem;
  font-weight: lighter;
}
.menu-item {
  display: flex;
  margin: 2rem 0;
  position: relative;
  align-items: center;
  padding: 0 0 2rem 0;
}

.menu-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5rem;
  border-bottom: 1px dashed black;
}
.menu-item:last-child::after {
  border: none;
}
.menu-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 1rem;
}
.menu-item section h3 {
  margin-bottom: 1rem;
}
.menu-item section h3 span {
  margin-left: 3rem;
  font-weight: lighter;
  color: #333333;
}
.menu-item p {
  color: #333333;
}
/*  menu end  */

/* testimony start */
.testimony-hero {
  position: relative;
}
.testimony-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  font-size: 1.5rem;
  width: 80%;
  height: 100%;
  font-weight: lighter;
}
.testimony-quote {
  font-size: 6rem;
}
/* testimony  end  */
/* expert start */
.expert {
  position: relative;
  margin-bottom: 1rem;
}
.expert-img {
  width: 100%;
  height: auto;
  width: auto\9;
}
.expert-info {
  background-color: white;
  position: absolute;
  width: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 1.5rem auto;
  padding: 0.5rem;
  text-align: center;
}
.expert-info p {
  color: #333333;
  font-weight: lighter;
  margin: 1rem;
}
.expert-social {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
  color: aqua;
}
.expert-social :last-child {
  color: aquamarine;
}
/* expert end  */
/* reservation menu start  */
.reservation {
  position: relative;
  margin: 1rem;
}
.reservation-img {
  height: 80vh;
}
.reservation-form-section {
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
.reservation-form-section h2 {
  color: white;
  margin-bottom: 0;
}
form {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem 1.5rem 1.5rem;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  padding: 0.5em;
  margin: 1.6rem;
  border-radius: 5px;
  border: none;
}
.form-input-half {
  width: 40%;
}
.half-input {
  display: flex;
}
.half-input:first-child {
  margin-right: 1rem;
}
input[type="submit"] {
  align-self: flex-end;
}
input[type="submit"]:hover {
  background-color: orange;
}
/* reservation menu end */
/* testimony menu start  */

/* header menu end */
@media screen and (min-width: 720px) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }
  main {
    padding: 0;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul li {
    display: inline;
    font-weight: bold;
    font-size: 1.2rem;
  }
  #bur-menu {
    display: none;
  }
  .hero {
    display: flex;
    padding: 1rem;
  }
  .hero-info {
    padding: 1rem;
  }
  .hero-info-bloc {
    display: block;
  }
  #hero-button {
    justify-content: flex-start;
  }
  #hero-image {
    width: 45%;
  }
  .specialties {
    padding: 2rem;
    background-color: #efefef;
  }
  .specialty-item {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 2rem;
  }
  .specialty-img {
    width: 45%;
  }
  .price {
    flex-direction: column;
    align-items: flex-start;
  }
  .price span {
    margin-bottom: 1rem;
  }
  .specialty-item:last-child .specialty-img {
    order: 1;
  }
  .specialty-item:last-child .specialty-info {
    order: 2;
  }
  .menu-container {
    display: flex;
    padding: 2rem;
  }

  .menu-title {
    text-align: center;
  }
  .menu-item::after {
    width: 75%;
    margin: 0 auto;
  }
  .menu-item {
    display: flex;
    justify-content: start;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .menu-item section h3 {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: baseline;
  }

  .experts-container {
    display: flex;
    justify-content: space-around;
  }
  .expert-img {
    height: 32rem;
    width: auto;
  }
  .expert-info {
    margin-bottom: 2rem;
  }
  .reservation-form-section {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 40%;
    height: 90%;
  }
}
